In [1]:
import pandas as pd

# Load sample data (we'll simulate a small dummy dataset for now)
data = pd.DataFrame({
    'Lead ID': [101, 102, 103, 104],
    'Source': ['Website', 'LinkedIn', 'Google Ads', 'Referral'],
    'Time on Site (min)': [5, 12, 7, 20],
    'Pages Visited': [3, 7, 5, 9],
    'Device': ['Mobile', 'Desktop', 'Mobile', 'Desktop'],
    'Converted': [0, 1, 0, 1]  # Target column
})

# Show the data
data.head()

   Lead ID      Source  Time on Site (min)  Pages Visited   Device  Converted
0      101     Website                   5              3   Mobile          0
1      102    LinkedIn                  12              7  Desktop          1
2      103  Google Ads                   7              5   Mobile          0
3      104    Referral                  20              9  Desktop          1

In [2]:
# Basic info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Lead ID             4 non-null      int64
 1   Source              4 non-null      object
 2   Time on Site (min)  4 non-null      int64
 3   Pages Visited       4 non-null      int64
 4   Device              4 non-null      object
 5   Converted           4 non-null      int64
dtypes: int64(4), object(2)
memory usage: 320.0+ bytes

In [3]:
# Describe numerical features
data.describe()

          Lead ID  Time on Site (min)  Pages Visited  Converted
count    4.000000            4.000000       4.000000    4.00000
mean   102.500000           11.000000       6.000000    0.50000
std      1.290994            6.683313       2.581989    0.57735
min    101.000000            5.000000       3.000000    0.00000
25%    101.750000            6.500000       4.500000    0.00000
50%    102.500000            9.500000       6.000000    0.50000
75%    103.250000           14.000000       7.500000    1.00000
max    104.000000           20.000000       9.000000    1.00000

In [4]:
# Check if any missing values
data.isnull().sum()

Lead ID               0
Source                0
Time on Site (min)    0
Pages Visited         0
Device                0
Converted             0
dtype: int64