In [1]:
import pandas as pd

# Load the dummy dataset again
data = pd.DataFrame({
    'Lead ID': [101, 102, 103, 104],
    'Source': ['Website', 'LinkedIn', 'Google Ads', 'Referral'],
    'Time on Site (min)': [5, 12, 7, 20],
    'Pages Visited': [3, 7, 5, 9],
    'Device': ['Mobile', 'Desktop', 'Mobile', 'Desktop'],
    'Converted': [0, 1, 0, 1]
})

In [2]:
data = data.drop(columns=['Lead ID'])

In [3]:
# Use one-hot encoding for 'Source' and 'Device'
data_encoded = pd.get_dummies(data, drop_first=True)
data_encoded

,Time on Site (min),Pages Visited,Converted,Source_LinkedIn,Source_Referral,Source_Website,Device_Mobile
0,5,3,0,False,False,True,True
1,12,7,1,True,False,False,False
2,7,5,0,False,False,False,True
3,20,9,1,False,True,False,False

In [4]:
X = data_encoded.drop('Converted', axis=1)
y = data_encoded['Converted']

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42
)

print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

Train shape: (3, 6)
Test shape: (1, 6)